/* body is the flex-container */
/* line 2, ../scss/index.scss */
body {
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  letter-spacing: 0.01rem;
}

/* line 8, ../scss/index.scss */
[id="sidebar"] {
  width: 20rem;
}

/* line 11, ../scss/index.scss */
[id="wrapper"] {
  flex: 1;
}

/* line 15, ../scss/index.scss */
.transform {
  color: green;
  font-weight: bold;
}

/* line 20, ../scss/index.scss */
header {
  text-align: center;
}

/* small screens */
@media (max-width: 767px) {
  /* line 25, ../scss/index.scss */
  [id="sidebar"] {
    position: absolute;
    z-index: -1;
  }

  /* line 29, ../scss/index.scss */
  [id="wrapper"] {
    -webkit-transform: translateX(0) translateZ(0);
    transform: translateX(0) translateZ(0);
    -webkit-transition: -webkit-transform .2s;
    transition: transform .2s;
    will-change: transform;
  }

  /* line 36, ../scss/index.scss */
  [id="wrapper"]:not(.is-closed) {
    -webkit-transform: translateX(20rem);
    transform: translateX(20rem);
  }

  /* Button deco */
  /* line 42, ../scss/index.scss */
  [id="wrapper"] > button {
    display: block;
    z-index: 1;
    height: 3.5rem;
    width: 3.5rem;
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, right top, from(#333), to(#333)), -webkit-gradient(linear, left top, right top, from(#333), to(#333)), -webkit-gradient(linear, left top, right top, from(#333), to(#333));
    background-image: -webkit-linear-gradient(left, #333, #333), -webkit-linear-gradient(left, #333, #333), -webkit-linear-gradient(left, #333, #333);
    background-image: linear-gradient(to right, #333, #333), linear-gradient(to right, #333, #333), linear-gradient(to right, #333, #333);
    background-position: center top, center, center bottom;
    background-repeat: no-repeat;
    -webkit-background-size: 3.5rem .9rem;
    background-size: 3.5rem .9rem;
    padding: 0;
    outline: 0;
    border: 0;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
}
/* Navigation deco */
/* line 65, ../scss/index.scss */
[id="navigation"] a {
  display: block;
  padding: 10px;
  margin-bottom: 2px;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.1);
}

/* Global deco */
/* line 74, ../scss/index.scss */
* {
  box-sizing: border-box;
}

/* line 77, ../scss/index.scss */
html {
  font-size: 62.5%;
}

/* line 80, ../scss/index.scss */
body {
  margin: 0;
  padding: 0;
  background: #333;
  color: #fff;
  font-size: 1.6em;
  font-family: "Century Gothic", helvetica, arial, sans-serif;
}

/* line 88, ../scss/index.scss */
a {
  color: #fff;
}

/* line 91, ../scss/index.scss */
[id="sidebar"] {
  background: #333;
  color: #ddd;
}

/* line 95, ../scss/index.scss */
[id="sidebar"] h2 {
  text-align: center;
}

/* line 98, ../scss/index.scss */
[id="wrapper"] {
  min-height: 100vh;
  padding: 2rem;
  background-color: #eee;
  color: #333;
}

/* line 104, ../scss/index.scss */
.highlight code, #carbonads a, .course-overview-lessons a {
  color: #666;
}

/* line 107, ../scss/index.scss */
table {
  display: table;
  border-color: grey;
}

/* line 111, ../scss/index.scss */
code, kbd, pre, samp, .lesson .lesson-anchor {
  font-family: "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
}

/* line 114, ../scss/index.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 119, ../scss/index.scss */
.original,
.box {
  border-radius: 6px;
}

/* line 123, ../scss/index.scss */
.original {
  background: #eaeaed;
  border: 1px dashed #cecfd5;
  float: left;
  margin: 12px 15px;
}

/* line 130, ../scss/index.scss */
.box {
  background: #f06d06;
  height: 95px;
  line-height: 95px;
  text-align: center;
  width: 95px;
}

/* line 137, ../scss/index.scss */
.spin {
  cursor: pointer;
  transform-style: preserve-3d;
}

/* line 141, ../scss/index.scss */
.spin:hover {
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
/* line 152, ../scss/index.scss */
.box-1 {
  transform: rotate(20deg);
}

/* line 155, ../scss/index.scss */
.box-2 {
  transform: rotate(-55deg);
}

/* line 158, ../scss/index.scss */
pre {
  box-sizing: border-box;
  margin: 1.6em 0;
  border: 1px solid #E3EDF3;
  width: 100%;
  padding: 10px;
  font-size: 1em;
  white-space: pre;
  overflow: auto;
  background: #e6eff3;
  box-shadow: inset 0 0 35px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  display: flex;
  justify-content: flex-start;
}

/* line 173, ../scss/index.scss */
code {
  font-family: Inconsolata,monospace,serif;
}

/* line 177, ../scss/index.scss */
pre code, pre tt {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  font-size: inherit;
  padding: 0;
  white-space: pre-wrap;
}

/* line 185, ../scss/index.scss */
ul, .transform2d, p, h3, h6 {
  clear: both;
}

/* line 191, ../scss/index.scss */
.original2,
.box3 {
  border-radius: 6px;
}

/* line 195, ../scss/index.scss */
.original2 {
  background: #eaeaed;
  border: 1px dashed #cecfd5;
  float: left;
  margin: 12px 15px;
}

/* line 201, ../scss/index.scss */
.box3 {
  background: #f06d06;
  height: 95px;
  line-height: 95px;
  text-align: center;
  width: 95px;
}

/* line 208, ../scss/index.scss */
.spin2 {
  cursor: pointer;
  transform-style: preserve-3d;
}

/* line 212, ../scss/index.scss */
.spin2:hover {
  animation: spin2 5s linear infinite;
}

@keyframes spin2 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
/* line 223, ../scss/index.scss */
.box-4 {
  transform: scale(0.75);
}

/* line 226, ../scss/index.scss */
.box-5 {
  transform: scale(1.25);
}

/* line 231, ../scss/index.scss */
.original3,
.box4 {
  border-radius: 6px;
}

/* line 235, ../scss/index.scss */
.original3 {
  background: #eaeaed;
  border: 1px dashed #cecfd5;
  float: left;
  margin: 12px 15px;
}

/* line 241, ../scss/index.scss */
.box4 {
  background: #f06d06;
  height: 95px;
  line-height: 95px;
  text-align: center;
  width: 95px;
}

/* line 248, ../scss/index.scss */
.spin3 {
  cursor: pointer;
  transform-style: preserve-3d;
}

/* line 252, ../scss/index.scss */
.spin3:hover {
  animation: spin3 5s linear infinite;
}

@keyframes spin3 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
/* line 263, ../scss/index.scss */
.box-6 {
  transform: scaleX(0.5);
}

/* line 266, ../scss/index.scss */
.box-7 {
  transform: scaleY(1.15);
}

/* line 269, ../scss/index.scss */
.box-8 {
  transform: scale(0.5, 1.15);
}

/* line 275, ../scss/index.scss */
.original4,
.box5 {
  border-radius: 6px;
}

/* line 279, ../scss/index.scss */
.original4 {
  background: #eaeaed;
  border: 1px dashed #cecfd5;
  float: left;
  margin: 12px 15px;
}

/* line 285, ../scss/index.scss */
.box5 {
  background: #f06d06;
  height: 95px;
  line-height: 95px;
  text-align: center;
  width: 95px;
}

/* line 292, ../scss/index.scss */
.spin4 {
  cursor: pointer;
  transform-style: preserve-3d;
}

/* line 296, ../scss/index.scss */
.spin4:hover {
  animation: spin 5s linear infinite;
}

@keyframes spin4 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
/* line 307, ../scss/index.scss */
.box-10 {
  transform: translateX(-20px);
}

/* line 310, ../scss/index.scss */
.box-11 {
  transform: translateY(35%);
}

/* line 313, ../scss/index.scss */
.box-12 {
  transform: translate(-20px, 35%);
}

/* line 318, ../scss/index.scss */
.original5,
.box6 {
  border-radius: 6px;
}

/* line 322, ../scss/index.scss */
.original5 {
  background: #eaeaed;
  border: 1px dashed #cecfd5;
  float: left;
  margin: 12px 15px;
}

/* line 328, ../scss/index.scss */
.box6 {
  background: #f06d06;
  height: 95px;
  line-height: 95px;
  text-align: center;
  width: 95px;
}

/* line 335, ../scss/index.scss */
.spin5 {
  cursor: pointer;
  transform-style: preserve-3d;
}

/* line 339, ../scss/index.scss */
.spin5:hover {
  animation: spin5 5s linear infinite;
}

@keyframes spin5 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
/* line 350, ../scss/index.scss */
.box-13 {
  transform: skewX(5deg);
}

/* line 353, ../scss/index.scss */
.box-14 {
  transform: skewY(-20deg);
}

/* line 356, ../scss/index.scss */
.box-15 {
  transform: skew(5deg, -20deg);
}

/* line 361, ../scss/index.scss */
.original6,
.box7 {
  border-radius: 6px;
}

/* line 365, ../scss/index.scss */
.original6 {
  background: #eaeaed;
  border: 1px dashed #cecfd5;
  float: left;
  margin: 12px 15px;
}

/* line 371, ../scss/index.scss */
.box7 {
  background: #f06d06;
  height: 95px;
  line-height: 95px;
  text-align: center;
  transform: perspective(200px) rotateX(45deg);
  width: 95px;
}

/* line 379, ../scss/index.scss */
.spin6 {
  cursor: pointer;
  transform-style: preserve-3d;
}

/* line 383, ../scss/index.scss */
.spin6:hover {
  animation: spin6 5s linear infinite;
}

@keyframes spin6 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
/* line 396, ../scss/index.scss */
.original7,
.box8 {
  border-radius: 6px;
}

/* line 400, ../scss/index.scss */
.original7 {
  background: #eaeaed;
  border: 1px dashed #cecfd5;
  float: left;
  margin: 12px 15px;
}

/* line 406, ../scss/index.scss */
.box8 {
  background: #f06d06;
  height: 95px;
  line-height: 95px;
  text-align: center;
  width: 95px;
}

/* line 413, ../scss/index.scss */
.spin7 {
  cursor: pointer;
  transform-style: preserve-3d;
}

/* line 417, ../scss/index.scss */
.spin7:hover {
  animation: spin7 5s linear infinite;
}

@keyframes spin7 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
/* line 428, ../scss/index.scss */
.box-16 {
  transform: perspective(200px) rotateX(45deg);
}

/* line 431, ../scss/index.scss */
.box-17 {
  transform: perspective(200px) rotateY(45deg);
}

/* line 434, ../scss/index.scss */
.box-18 {
  transform: perspective(200px) rotateZ(45deg);
}

/* line 440, ../scss/index.scss */
.original8,
.box9 {
  border-radius: 6px;
}

/* line 444, ../scss/index.scss */
.original8 {
  background: #eaeaed;
  border: 1px dashed #cecfd5;
  float: left;
  margin: 12px 15px;
}

/* line 450, ../scss/index.scss */
.box9 {
  background: #f06d06;
  height: 95px;
  line-height: 95px;
  text-align: center;
  width: 95px;
}

/* line 457, ../scss/index.scss */
.spin8 {
  cursor: pointer;
  transform-style: preserve-3d;
}

/* line 461, ../scss/index.scss */
.spin8:hover {
  animation: spin8 5s linear infinite;
}

@keyframes spin8 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
/* line 472, ../scss/index.scss */
.box-18 {
  transform: perspective(200px) scaleZ(1.75) rotateX(45deg);
}

/* line 475, ../scss/index.scss */
.box-20 {
  transform: perspective(200px) scaleZ(0.25) rotateX(45deg);
}

/* line 480, ../scss/index.scss */
.original9,
.box10 {
  border-radius: 6px;
}

/* line 484, ../scss/index.scss */
.original9 {
  background: #eaeaed;
  border: 1px dashed #cecfd5;
  float: left;
  margin: 12px 15px;
}

/* line 490, ../scss/index.scss */
.box10 {
  background: #f06d06;
  height: 95px;
  line-height: 95px;
  text-align: center;
  width: 95px;
}

/* line 497, ../scss/index.scss */
.spin9 {
  cursor: pointer;
  transform-style: preserve-3d;
}

/* line 501, ../scss/index.scss */
.spin9:hover {
  animation: spin9 5s linear infinite;
}

@keyframes spin9 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
/* line 512, ../scss/index.scss */
.box-21 {
  transform: perspective(200px) translateZ(-50px);
}

/* line 515, ../scss/index.scss */
.box-22 {
  transform: perspective(200px) translateZ(50px);
}

/* line 519, ../scss/index.scss */
ul li a {
  color: black;
}
/* line 523, ../scss/index.scss */
ul li a:hover {
  color: green;
}

/* line 528, ../scss/index.scss */
table {
  border-collapse: collapse;
  width: 100%;
}

/* line 533, ../scss/index.scss */
th, td {
  text-align: left;
  padding: 8px;
}

/* line 538, ../scss/index.scss */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* line 540, ../scss/index.scss */
th {
  background-color: #4CAF50;
  color: white;
}
